<!DOCTYPE html>
<html>
<head>
	<title>
		First Step to Angular Js
	</title>
	<script src="angular.min.js" type="text/javascript"></script>
	<script src="app.js" type="text/javascript"></script>
</head>
<body ng-app="myModule">
 
 <div ng-controller="myCtrl">
 	
First Name:{{firstName}} </br>
Last Name:{{lastName}} </br>

 </div>



</body>
</html>